<head>
<style>

body {
	font-family: sans-serif;
}

a {
	color: black; 
	text-decoration: none;
	display: block;
	background-color: #FFDEAD;
	margin-top: 5px;
	padding: 5px;
}

a.volume{
	background-color: #F4A460;
}

a:hover, a.volume:hover {
	background-color: #DEB887;
}

</style>
</head>
<body>
	<a class="volume" href="/pause">Pause</a>
	<a class="volume" href="/volume_minus">Volume -</a>
	<a class="volume" href="/volume_plus">Volume +</a>
	<div> 
        <form action="http://localhost:4567/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload Music">
        </form>
	</div>
	<% dirs.each do |dir| %>
		<a id="<%= dir %>" href="/play/<%= dir %>"><%= dir %></a>
	<% end %>
</body>
